@use "./jokes.s";
@use "../../styles/variables" as global;

.jokesContainer {
  width: 100vw;
  height: 100%;
  text-align: center;
  margin: 0 auto 2rem auto;
  border-radius: 1rem;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin: 1rem;
  }

  p {
    width: 50%;
    margin: 2rem 0;
  }

  button {
    align-self: center;
    padding: 1.5rem;
  }

  #jokesButton {
    box-shadow: global.$shadow;
  }

  .spinner {
    margin: 4rem;
    position: relative;
    left: -16px;
  }
}

.plusButton {
  font-size: 3rem;
  background-color: initial;
  padding: 1rem;
}

.joke {
  margin: 2rem;
  font-size: 2rem;
  font-style: italic;
  width: 80%;
  margin: auto;
}

@media screen and (width < 38em) {
  .jokesContainer {
    h1 {
      font-size: 2rem;
    }

    .joke {
      margin: 0;
      font-size: 1.3rem;
    }

    button {
      padding: 0.5rem;
    }
  }
}