.jokesContainer {
  width: 100vw;
  height: 100%;
  text-align: center;
  margin: 0 auto 2rem auto;
  border-radius: 1rem;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin: 1rem;
  }

  p {
    width: 50%;
    margin: 2rem 0;
  }

  button {
    align-self: center;
  }

  .spinner {
    margin: 4rem;
    position: relative;
    left: -16px;
  }
}

.punctuationContainer {
  margin: 1rem;
}

.plusButton {
  font-size: 2.5rem;
  background-color: initial;
  padding: 1rem;
}

.joke {
  margin: 2rem;
  font-size: 2rem;
  font-style: italic;
  width: 80%;
  margin: auto;
}

@media screen and (width < 38em) { 
  .joke {
    font-size: 1.3rem;
  }
/*
  html body {
    background-size: cover;
    background-position: 0px 150px;
  }
*/
  .jokesContainer {
    h1 {
      /*background: white;
      border-radius: 3rem;*/
      padding: 2rem;
      font-size: 2rem;
    }

    .joke {
      margin: 0;
    }

    .punctuationContainer {
      margin: 0;
    }
  }
}