@use "./weather.s";

.weatherContainer {
  margin: 2rem;
  text-align: center;
  width: 100vw;
  display: flex;
  justify-content: left;


  .error {
    line-height: 1rem;
    margin: 0 auto;
    align-self: center;
  }
}

.weatherContainer__icon {
  font-size: 1.5rem;
  align-self: center;
  margin-left: 1rem;
}

.weatherContainer__icon--weather {
  font-size: 1.5rem;
  align-self: center;
}

.weatherContainer__temperature {
  font-size: 1.5rem;
  margin-right: 2rem;
  align-self: center;
}

.weatherContainer__windSpeed {
  font-size: 1.5rem;
  align-self: center;
}
