@use './variables' as global;

:root {
    font-family: global.$font-family;
    line-height: 1.5;
    font-weight: 400;
    width: 100%;
    height: 100%;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100%;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.hidden {
    display: none;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.4em 1em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    color: white;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

button:hover {
    border-radius: 10px;
    transform: rotate(15deg) scale(1.4);
}